<div class="chat-list-container">
  <div class="header">
    <h1>Chats</h1>
    <div class="header-actions">
      <button mat-raised-button color="primary" (click)="createGroupChat()">
        <mat-icon>group_add</mat-icon>
        Create Group
      </button>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <div class="lists-container">
    <div class="section-header">
      <h3>All Chats</h3>
    </div>
    <div class="chats-container">
      <mat-nav-list>
        <mat-list-item *ngFor="let chat of allChats" (click)="openChat(chat)">
          <img
            *ngIf="chat.imagePath"
            matListItemAvatar
            [src]="'http://localhost:5065/avatars/' + chat.imagePath"
            [alt]="chat.name"
          />
          <mat-icon *ngIf="!chat.imagePath" matListItemAvatar>{{chat.isPrivate ? 'person' : 'group'}}</mat-icon>
          <div matLine>{{ chat.name }}</div>
          <div matLine class="last-message">
            {{
              chat.lastMessageSender
                ? chat.lastMessageSender + ": " + chat.lastMessage
                : "No messages"
            }}
          </div>
          <div matListItemMeta>
            <span class="member-count" *ngIf="!chat.isPrivate">{{chat.memberCount}} members</span>
            <button
              mat-icon-button
              *ngIf="!chat.isPrivate"
              (click)="$event.stopPropagation(); leaveChat(chat)"
              matTooltip="Leave group"
            >
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div class="section-header">
      <h3>Users</h3>
    </div>
    <div class="users-container">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let user of users"
          (click)="onUserClick(user)"
          [class.online]="user.isOnline"
        >
          <img
            matListItemAvatar
            [src]="'http://localhost:5065/avatars/' + user.avatarPath"
            [alt]="user.userName"
          />
          <span matListItemTitle>{{ user.userName }}</span>
          <div
            matListItemMeta
            class="status-indicator"
            [class.online]="user.isOnline"
          ></div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div class="chat-container" *ngIf="selectedChat">
    <div class="chat-header">
      <div class="chat-header-content">
        <h2>{{ selectedChat.name || "Chat" }}</h2>
        <div class="group-members" *ngIf="!selectedChat.isPrivate">
          Members: {{ getGroupMembers(selectedChat) }}
        </div>
      </div>
      <div class="chat-header-actions" *ngIf="!selectedChat.isPrivate">
        <button
          mat-icon-button
          (click)="leaveChat(selectedChat)"
          matTooltip="Leave group"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>

    <div class="messages-container">
      <div
        *ngFor="let message of messages"
        class="message"
        [class.own-message]="message.senderId === currentUserId"
      >
        <div
          *ngIf="
            selectedChat &&
            !selectedChat.isPrivate &&
            message.senderId !== currentUserId
          "
          class="message-sender"
        >
          {{ message.senderUserName }}
        </div>
        <div class="message-content">
          {{ message.content }}
        </div>
        <div class="message-meta">
          {{ message.sendAt | date : "short" }}
        </div>
      </div>
    </div>

    <div class="message-input">
      <mat-form-field appearance="fill" class="message-form-field">
        <input
          matInput
          [(ngModel)]="newMessage"
          placeholder="Type a message"
          (keyup.enter)="sendMessage()"
        />
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="no-chat-selected" *ngIf="!selectedChat">
    <mat-icon class="large-icon">chat</mat-icon>
    <p>Select a user to start chatting</p>
  </div>
</div>
