<div class="chat-list-container">
  <div class="header">
    <h1>Chats</h1>
    <div class="header-actions">
      <button mat-raised-button color="primary" (click)="createGroupChat()">
        <mat-icon>group_add</mat-icon>
        Create Group
      </button>
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>

  <div class="lists-container">
    <div class="section-header">
      <h3>Private Chats</h3>
    </div>
    <div class="users-container">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let user of users"
        (click)="onUserClick(user)"
        [class.online]="user.isOnline"
      >
        <img
          matListItemAvatar
          [src]="'http://localhost:5065/avatars/' + user.avatarPath"
          [alt]="user.userName"
        />
        <span matListItemTitle>{{ user.userName }}</span>
        <div
          matListItemMeta
          class="status-indicator"
          [class.online]="user.isOnline"
        ></div>
      </mat-list-item>
    </mat-nav-list>
    </div>

    <div class="section-header">
      <h3>Group Chats</h3>
    </div>
    <div class="group-chats-container">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let chat of groupChats"
          (click)="openChat(chat)"
        >
          <mat-icon matListItemAvatar>group</mat-icon>
          <span matListItemTitle>{{ chat.name }}</span>
          <button 
            mat-icon-button 
            matListItemMeta 
            (click)="$event.stopPropagation(); leaveChat(chat)"
            matTooltip="Leave group"
          >
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div class="chat-container" *ngIf="selectedChat">
    <div class="chat-header">
      <h2>{{ selectedChat.name || "Chat" }}</h2>
      <div class="chat-header-actions" *ngIf="!selectedChat.isPrivate">
        <button 
          mat-icon-button 
          (click)="leaveChat(selectedChat)" 
          matTooltip="Leave group"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>

    <div class="messages-container">
      <div
        *ngFor="let message of messages"
        class="message"
        [class.own-message]="message.senderId === currentUserId"
      >
        <div *ngIf="selectedChat && !selectedChat.isPrivate && message.senderId !== currentUserId" class="message-sender">
          {{ message.senderUserName }}
        </div>
        <div class="message-content">
          {{ message.content }}
        </div>
        <div class="message-meta">
          {{ message.sendAt | date : "short" }}
        </div>
      </div>
    </div>

    <div class="message-input">
      <mat-form-field appearance="fill" class="message-form-field">
        <input
          matInput
          [(ngModel)]="newMessage"
          placeholder="Type a message"
          (keyup.enter)="sendMessage()"
        />
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="no-chat-selected" *ngIf="!selectedChat">
    <mat-icon class="large-icon">chat</mat-icon>
    <p>Select a user to start chatting</p>
  </div>
</div>
